<style>
  .container {
    width: 800px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .answer {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }

  .value {
    padding: 10px;
    background: #8257e3;
    color: #fff;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    width: 350px;
  }
</style>

<div class="container">
  <label
    >Hello <strong>{{ name }}</strong
    >! how are you?</label
  >

  <h3>{{title}}</h3>
  <br>
  <p><strong>{{description}}</strong></p>

  <div class="level">
    <span>Unlikely</span>
    <span>Very likely</span>
  </div>

  <div class="answer">
    <a href="" class="value">1</a>
    <a href="" class="value">2</a>
    <a href="" class="value">3</a>
    <a href="" class="value">4</a>
    <a href="" class="value">5</a>
    <a href="" class="value">6</a>
    <a href="" class="value">7</a>
    <a href="" class="value">8</a>
    <a href="" class="value">9</a>
    <a href="" class="value">10</a>
  </div>

  <br>
  <br>

  <span>
    Your opinion is
    <strong> very </strong>
    important to us!
  </span>
</div>
